# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node
/node_modules
/public/hot
/public/storage
npm-debug.log
yarn-error.log

# Laravel specific
/storage/**/*
!/storage/.gitkeep
/bootstrap/cache/**/*
!/bootstrap/cache/.gitkeep
/vendor
.env
db.sql

# IDE
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled files
*.class
*.py[cod]
*.jar
*.war
*.app
*.exe

# Build directories
dist/
target/
node_modules/

# Test reports
TEST*.xml

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Custom
temp_auto_push.bat
temp_interactive_push.bat